@import "variables.less";
@import "mixins.less";

.light-gray-bg {
	background-color: @light-gray-color;
}

.dark-bg {
	background-color: @dark-color;
}

.gray-bottom {
	border-bottom: 1px solid @gray-bottom;
}

nav {
	.container {
		min-height: 125px;
	}
}

header {
	.container {
		min-height: 640px;
	}
}

#process {
	.container {
		min-height: 415px;
	}
}


#promo {
	.container {
		min-height: 610px;
	}
}


#recent-work {
	.container {
		min-height: 605px;
	}
}

#subscribe {
	.container {
		min-height: 355px;
	}
}

#social-icons {
	.container {
		min-height: 260px;
	}
}

footer {
	.container {
		min-height: 350px;
	}
}
